html {
  box-sizing: border-box;
}

:root {
  --title-color: #212121;
  --text-color: #757575;
  --text-active-color: #FFFFFF;
  --active-color: #2196F3;

  --bg-hero: #2F303A;
  --bg-footer: #2F303A;

  --bg-button: #F5F4FA;
  --bg-button-active: #2196F3;

  --button-color: #212121;
  --button-color-active: #FFFFFF;
}

body {
  background: #FFFFFF;
  margin: 0;

  /* width: 1600px; */
}

/* a {
  text-decoration: none;
}  */

li {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
  
ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Контенер */
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}