.body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Стили логотипа */
.logo {
  color: var(--active-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
}

.logo .logo-text {
  color: var(--title-color);
}

/* Стили навигации */
.nav-link {
  color: var(--title-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--active-color);
}

.nav-link.active {
  color: var(--active-color);
} 

.contacts-link {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link:hover {
  color: var(--active-color);
}

/* Стили Герой */
.hero {
  background: var(--bg-hero);
}

.title-hero {
  color: var(--text-active-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order-button {
  color: var(--text-active-color);
  background: var(--active-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
}

/* Стили Наши достоинства*/

.title-description {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.text-description {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

/* Стили Чем занимаемся*/
.title-work {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}

/* Стили Наша команда*/
.staff {
  background: #F5F4FA;
}

.title-staff {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
  text-align: center;
}

.employee-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  width: 270px;
  height: 19px;
}

.employee-position {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  width: 270px;
}

/* Стили Подвал*/
.footer {
  background: var(--bg-footer);
}

.logo-footer{
  color: var(--text-active-color);
}

.address-text {
  color: var(--text-active-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.19;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
}


/*Стилизация Кнопки - Портфолио*/
.bt {
  color: var(---button-color);
  background: var(--bg-button);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  width: 128px;
  height: 36.59px;
  border-radius: 4px;
}

.bt.autofocus{
  color: var(--button-color-active);
  background: var(--bg-button-active);
  
}

/*Стилизация Разработки - Портфолио*/
.program-title {
  color: var(--title-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: center;
  width: 370px;
}

.program-type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  width: 370px;
}